---
layout: default
title: "Research"
description: "Research projects in the lab"
group: navigation
navorder: 1
---
{% include JB/setup %}
{% for page in site.categories.misc %}
{% if page.research %}
	{% assign researchpage = page %}
{% endif %}
{% endfor %}

<div class="bigspacer"></div>
<div class="bigspacer"></div>
<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12">
	    <div class="item">
	    	<img src="/assets/images/projects/sogin-lab-methods.png" width='90%'  height='auto' alt="">
	    </div>
	  </div>
<div class="bigspacer"></div>
<div class="row">
	<div class="col-md-12">
		<div class="smallhead">
			{{ researchpage.content }}
		</div>
	</div>				
</div>



