{% comment %}
  Separate partial for Google Webfont include, so we can override with
  different fonts as applicable.
{% endcomment %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface" />
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poller+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Proza+Libre:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bellota:wght@700&display=swap" rel="stylesheet">